body {
    padding: 0;
    margin: 0;
    background-color: darkslategrey;
}
header {
    background-color: darkorange;
    padding: 15px;
    overflow: auto;
    margin-bottom: 20px;
    clear: both;
}
h1 {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 10px;
    animation-delay: 2s;
}
h2 {
    text-align: center;
    color: darkorange;
    margin-bottom:0;
}
article {
    border-bottom: 3px solid lightsalmon;
    
    padding: 5px;
   
   font-size: .8em;
}
#randomNumber {
    background-color: lightsalmon;
    width: 100px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    color: white;
    
}
#scoreBox {
    background-color: lightblue;    
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    margin-bottom: 5px;
    text-align: center;
}
#scoreBox h2 {
    color:black;
}
#buttons {
    text-align: center;
    margin-bottom: 10px;
}
h3 {
    color: darkorange;
    text-align: center;
    margin-bottom: 5px;
    
}
#totalScore {
     width: 95px;  
    border: 2px solid lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    color: darkorange;
    
}
#github {
	margin-top: 10px;
	margin-left: 10px;
    float: left;
    font-size: 1em;
}
.btn {
    width: 100px;
    animation-delay: 1s;
    opacity: .5;
}
.btn:hover {
    transform: scale(1.1, 1.1);
    opacity: 1;
}
.accordion {
    width: 20%;    
}
.card-header {
    background-color: lightblue;
    color: darkslategray;   
}
#explain {
    text-align: center;
    color: white;
}
.card {
    border: none;
}

/* for smaller screens */

@media only screen and (max-width: 900px) {
    .accordion {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 430px) {
    h1 {
        font-size: 1.5em;
        letter-spacing: 5px;
    }
    header {
        margin-bottom: 0;
    }
    .btn {
        width: 80px;
    }
    #github {
        display: none;
    }
}


